@import url("https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body,
html {
  /* fallback font for the body */
  font-family: "Poppins", sans-serif;
  height: 100%;
}

.navigation {
  background: #1d1c1c;
}

.navigation-item {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 22.4px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #ff9900;
  padding-right: 2em;
}

.cover {
  /* The image used */
  /* background-image: url("https://images.unsplash.com/photo-1579751626657-72bc17010498?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1469&q=80"); */

  background: #1d1c1c;

  /* Full height */
  height: 100%;

  /* blur image */

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.mouse {
  animation: bounce 3s infinite;
  animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
}

@keyframes bounce {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    transform: scale(0.9, 1.1) translateY(-100px);
  }
  50% {
    transform: scale(1.05, 0.95) translateY(0);
  }
  57% {
    transform: scale(1, 1) translateY(-7px);
  }
  64% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}

.logo {
  margin-top: 3em;
  margin-bottom: 4em;
}

.intro-heading {
  font-family: "Playfair Display", serif;
  font-size: 60px;
  line-height: 66px;
  font-weight: 700;
  text-align: center;
}

.intro-small {
  font-family: "Love Ya Like A Sister", cursive;
  font-size: 40px;
  font-weight: 400;
}

.paragraph {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 25.6px;
  font-weight: 400;
  text-align: center;
}

.ico {
  color: #ff9900;
}

.menu {
  background: #f2f2f2;
  padding-top: 3em;
}

.head {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 21.6px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 2em;
  color: #ff9900;
}

.bold-head {
  font-family: "Playfair Display", serif;
  font-size: 48px;
  line-height: 52px;
  font-weight: 700;
  text-align: center;
}

.pizza-head {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 21.6px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  padding-top: 0.8em;
  color: #ff9900;
}

.ingredients {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 25.6px;
  font-weight: 400;
  text-align: center;
}

@media only screen and (min-width: 1024px) {
  .logo {
    margin-top: 3em;
    margin-bottom: 7em;
  }
  .ingredients {
    padding: 0 5em;
  }
  .order-form {
    padding-right: 5em;
    padding-top: 5em;
    padding-bottom: 5em;
  }
}

.menu {
  padding-bottom: 2em;
}

.history {
  padding-top: 3em;
  padding-bottom: 3em;
  background-color: #fafafa;
}

.history-img {
  background-image: url("https://images.unsplash.com/photo-1613564834361-9436948817d1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fHBpenphfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=900&q=60");
  min-height: 50vh;
  background-position: center;
  background-size: cover;
}

.history-p > p,
.history-p > h2 {
  text-align: left;
}

.history-p {
  padding: 5em 2.5em;
}

.read-more {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 22.4px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: black;
  border: black 2px solid;
  text-decoration: none;
  border-style: none none solid;
}

.reviews {
  padding-top: 3em;
  padding-bottom: 3em;
  background-color: #f2f2f2;
}

.reviews-img {
  background-image: url("https://images.unsplash.com/photo-1590947132387-155cc02f3212?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8cGl6emF8ZW58MHx8MHx8&auto=format&fit=crop&w=900&q=60");
  min-height: 50vh;
  background-position: center;
  background-size: cover;
}

.reviews-p > p {
  text-align: left;
}
.reviews-p > h2 {
  font-family: "Playfair Display", serif;
  font-size: 48px;
  line-height: 52px;
  font-weight: 700;
  text-align: center;
  text-align: left;
}

.reviews-p {
  padding: 5em 2.5em;
}

.reviews-p > div > p {
  padding: none;
  text-align: left;
  font-size: 18px;
  line-height: 21px;
  font-weight: 300;
  letter-spacing: 4px;
  color: #ff9900;
}

.order {
  background-color: #fff;
  padding-top: 3em;
  padding-bottom: 3em;
  font-family: "Open Sans", sans-serif;
}

.order-img {
  background-image: url("https://images.unsplash.com/photo-1615719413546-198b25453f85?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mjd8fHBpenphfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
  min-height: 60vh;
  background-position: center;
  background-size: cover;
}

.order-form {
  padding-right: none;
  padding-top: 1em;
  padding-bottom: 3em;
}

footer {
  min-height: 30vh;
  background-color: #1d1c1c;
}

.contact {
  padding-top: 2em;
  padding-bottom: 2em;
  color: #fff;
}

.comments {
  color: black;
}

.footer-img {
  background-image: url("https://images.unsplash.com/photo-1579751626657-72bc17010498?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8cGl6emF8ZW58MHwwfDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
  min-height: 20vh;
  background-position: center;
  background-size: cover;
  margin-top: 3em;
  margin-bottom: 1.5em;
}

.footer-content > .copy {
  color: #ff9900;
}
